* {
  color:whitesmoke;
  font-family: 'Playfair Display', serif;

}

.dashboard {
  background-image: url(./v2osk-1Z2niiBPg5A-unsplash.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  width: 100vw;
  height: 100vh;
  margin: 0px;
  padding: 0px;
}

header {
  text-align: center;
  padding: 20px;
  margin: 0px 0px 40px 0px;
  background-color: rgba(108, 122, 137, 0.4)
}

#header-text {
  font-size: 40px;
}

.main {
  display: flex;
  justify-content: center;
}

.search {
  margin: 5px;
}

.search-bar {
  display: block;
}

#city-input {
  color: black;
  width: 80%;
  margin: 5px 0px;
}

#search-btn {
  color: #FFFFFF;
  background-color: #444D57;
  border: 0;
  border-radius: 2px;
  padding: 1px 15px;
  width: 80%;
  margin: 5px 0px;
}

#reset-btn {
  color: #FFFFFF;
  background-color: #444D57;
  border: 0;
  border-radius: 2px;
  padding: 1px 15px;
  width: 80%;
  margin: 5px 0px;
}


.search-city {
  background-color: rgba(108, 122, 137, 0.4);
  width: 60%;
  padding: 5px;
}

.weather-today {
  border: 1px solid #444D57;
  margin: 5px;
  width: 70%;
  padding: 5px;
}

.weather-today-ci {
  display: flex;
  align-items: center;
}

#today-icon {
  margin: 0px 3px;
  width: 45px;
  height: auto;
}

#five-day-display {
  display: flex;

}

.five-day-forecast {
  margin: 5px;
}

h6 {
  font-size: 20px;
}

.day-icon {
  margin: 0px 3px;
  width: 45px;
  height: auto;
}

.forecast-box {
  margin: 5px 10px 5px 0px;
  background-color: rgba(108, 122, 137, 0.7);
  padding: 10px;
}